/*  your css code here. If applicable */
.card{
	width:350px;
	text-align:center;
	background-color:gray;
	align:center;
	
}
p,button{
	font-size:32px;
}
h1{
	font-size:50px
}
.card img {
	width:300px;
}